@media (max-width:1200px) {
    .navbar .nav{
       display: none;
       opacity: 0;
    }
    .menu-bar{
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* display: none; */
    }
    .menu-bar div{
        width: 30px;
        height: 4px;
        background-color: black;
        /* display: none; */
       
    }
}

@media (max-width:1050px) and (min-width:700px){
    .whyUs .about .about-box .box{
        padding: 10px 0;
    }
}

