
.othernavbar{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    justify-content:space-between;
    align-items: center;
}
.othernavbar .logo{
    display: flex;
    align-items: center;
    height: 30px;
    width: 250px;
}
.othernavbar .logo .logo_image{
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    display: flex;
    
}

.othernavbar .nav ul{
    display: flex;
    align-items: center;
}
.othernavbar .nav ul li {
    list-style: none;
    text-decoration: none;
}
.othernavbar .nav ul li .mylink { 
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0 20px;
}
.othernavbar .nav ul .last-child .mylink{
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    letter-spacing: 1px;
}
.othernavbar .nav ul .last-child .mylink:hover {
    color: white;
}
.othernavbar .nav ul .mylink:hover{
    color: red;
}
.othernavbar .nav ul li .isactive {
    color: red;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    padding: 0 20px;
}
.othernavbar .nav ul .last-child .isactive {
    background-color: red;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    letter-spacing: 1px;
}